@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    scroll-behavior: smooth;
    color: #222;
}

body::-webkit-scrollbar {
    width: 16px;
    background-color: #fafafa;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffef42;
    border-radius: 12px;
}

::selection {
    background-color: #ffef42;
}

/* .max-container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: aqua;
} */

nav {
    height: 130px;
    padding: 0 4rem;
    box-shadow: 0 2px 3px #fafafa;
    position: fixed;
    width: 100%;
}

.hero {
    /* height: 600px; */
    padding: 3rem 0;
    background-color: #ffef42;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Images/btu-hero.jpg") no-repeat center;
    background-size: cover;
    /* object-fit: cover; */
    background-attachment: fixed;
    align-items: center;
}

.text-neon {
    text-shadow: 0 0 10px #ffef42, 0 0 10px #ffef42;
}

.text-neon:hover {
    text-shadow: 0 0 10px #52ff42, 0 0 10px #52ff42;
}